

<nav class="navbar navbar-default navbar-fixed-bottom" >
  <div class="container" id="footer">
    <div class="navbar-left" id="copyright">Copyright 2016 <i class="fa fa-copyright" aria-hidden="true"></i> They Who Shall Not Be Named  | phoenix by Design Rails from the Noun Project</div>
    <div class="navbar-right">
      <ul id="footer-links">
        <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100010114625248"><i class="fa fa-facebook footer-icon" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/sailz"><i class="fa fa-twitter-square footer-icon" aria-hidden="true"></i></a></li>
        <li><a href="mailto:nudgechris@gmail.com"><i class="fa fa-envelope footer-icon" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>

</nav>
</body>

</html>
