<% include ./partials/header %>
<script type="text/javascript" src="./javascripts/builder.js"></script>

<div id="builder"></div>

<button class="productA" type="button" formmethod="post">A</button>
<div id="produtAdisplay"></div>

<% include ./partials/footer %>
