<% include ./partials/header %>
<script type="text/javascript" src="./javascripts/builder.js"></script>

<div id="builder"></div>

<button class="productA"></button>

<button class="productB"></button>

<% include ./partials/footer %>
