<% include ./partials/header %>
<link rel="stylesheet" href="stylesheets/builder.css">
<script type="text/javascript" src="./javascripts/builder.js"></script>

<div id="builder-questions"></div>

<div id="choice-buttons">
<button class="choice-A-button"></button>
<button class="choice-B-button"></button>
</div>

<button class="next-question-button">NEXT QUESTION</button>

<% include ./partials/footer %>
