<% include ./partials/header %>
<script type="text/javascript" src="./javascripts/builder.js"></script>

<div id="builder"></div>

<div id="choice-buttons">
<button class="product-A"></button>
<button class="product-B"></button>
</div>

<button class="next-question">NEXT QUESTION</button>

<% include ./partials/footer %>
