<% include ./partials/header %>

<script type="text/javascript" src="./javascripts/builder.js"></script>

<div class="container-fluid">
  <div class="row" id="display">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div id="builder-text"></div>
      <div id="product-display"></div>

      <div id="choice-buttons">
        <button class="choice-A-button btn"></button>
        <button class="choice-B-button btn"></button>
      </div>

      <div id="add-button">
        <button class="add-to-cart-button btn">Add product to Cart</button>
      </div>
      <div id="or">
        <h3>--------</h3>
      </div>
      <div id="next-button">
        <button class="next-question-button btn">NEXT</button>
      </div>





      <div class="loader">
        <img src="./images/pacman.gif" style="width:30px; text-align:center;">
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>





<% include ./partials/footer %>
