<% include ./partials/header %>
<script type="text/javascript" src="./javascripts/builder.js"></script>

<div id="builder"></div>

<button type="button" formmethod="post">A</button>

<% include ./partials/footer %>
