<% include ./partials/header %>

<!-- <h1>THE QUESTIONS PAGE</h1> -->
<h1><%= title %></h1>

  <%= question %>

<div>

      <div class="weasel">here is the weasel!!!</div>

          <h2><a href="/logout">Logout</a></h2>
</div>



<a href="/logout">Logout</a>

<% include ./partials/footer %>
