body.builder-view {
padding-top: 70px;
background-image: url(../images/Once-upon-a-Zombie-image-once-upon-a-zombie-36574221-1000-845.jpg);
}

body.builder-view button {
  color: black;
}

#display{
  padding-top: 40px;
  text-align: center;
}

#builder-text {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  color: #fff;
}

#product-display {
  display: none;
  border: 5px solid rgba(209, 214, 231, 0.7);
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  color: #000;
  overflow: auto;
}

#product-image {
  float: left;
}

#product-details {
  padding-left: 20px;
  padding-right: 20px;
}

h4 {
  padding-top: 30px;
}

#add-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
