body.builder-view {
padding-top: 70px;
background-image: url(../images/Once-upon-a-Zombie-image-once-upon-a-zombie-36574221-1000-845.jpg);
}

body.builder-view button {
  color: black;
}

#display{
  padding-top: 40px;
  text-align: center;
}

#builder-text {
  font-family: 'Bangers', cursive;
  font-size: 3em;
  color: #fff;
}

#or {
  color: #fff;
}
