body.builder-view {
  margin-top: 100px;
  width: 100%;
  height: 600px;
  color: white;
  /*font-weight: bold;*/
  /*font-size: 18px;*/
  /*background-color: grey;*/
 /* background-image: url(../images/dino_zombie.png), url(../images/caution_wallpaper.jpg);
  background-size: 20%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, right;
}
*/
