body.shopping_list-view {
  padding-top: 70px;
  background-image: url(../images/Once-upon-a-Zombie-image-once-upon-a-zombie-36574221-1000-845.jpg);
}
.list-name {
  margin-top: -70px;
  text-align: center;
  font-family: 'Bangers', cursive;
  color: rgba(219, 0, 0, 0.75);
}


.form-div {

  background-image: url(../images/zombie-paper-big.png);
  background-repeat: no-repeat;

  height: 582px;
  margin-right: 70px;
  color: black;
  position: relative;

}
.form-place {
  height: 386px;

  transform: rotate(-10deg);
  margin-left: 10px;
  margin-right: 80px;

  position: absolute;

}

#ul-display{
  margin-top: -10px;

  padding-left: 20px;
  padding-right: 100px;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  list-style: none;
}

#ul-display li {
  color: black;

}


#items0 {
  padding-top: 55px;
}
#items1 {
  margin-left: 10px;
}
#items2 {
  margin-left: 10px;
}
#items3 {
  margin-left: 15px;
}
#items4 {
  margin-left: 20px;
}

#sub-btn {
  bottom: -60px;
  right: 21px;
  position: absolute;
  border: 1px solid black;

}
