
body {
margin-bottom: 100px;
background-image: url(../images/Once-upon-a-Zombie-image-once-upon-a-zombie-36574221-1000-845.jpg);

}
/* Navbar -- this affects the header and the footer    */
.navbar {
   background-color: transparent;
   background:rgba(46,106,80,.75);
   border-color: #E7E7E7;
}

.navbar li {

}

#nav-title {
  font-size: 2em;
}
#shopping-cart {
  margin-right: 20px;
  font-size: 4em;
}
nav ul {
  display: inline-block:

}
nav li {
  list-style: none;
    color: #000
}
 nav a {
  color: black;
}
/*  End Navbar--------------------------------------  */

/* Text on Index page --------------------------------*/
.intro {
  margin-top: 100px;
}

#welcome {
  margin-top: 25px;
  font-family: 'Bangers', cursive;
  font-size: 1.5em;
  color: rgba(219, 0, 0, 0.75);
}


#welcome-title {
  font-size: 5em;

}
/* End Text on Index page --------------------------------*/

/* Sign up panel on Index page --------------------------------*/



/* End Sign up panel on Index page --------------------------------*/

/* Footer -------------------------------- */
#footer {
/*position: absolute-relative;*/
/*bottom: 0px;*/
/*display: inline;*/
margin-bottom: 5px;
margin-top: 20px;
}
#copyright {
  padding-bottom: 30px;
}
#footer-links li {
  display: inline;
  padding-bottom: 10px;
  padding-right: 30px;
}
.footer-icon {
  font-size: 2em;
}
/*  End Footer ----------------------------- */
